.header {
  padding-top: 10px;
  background-color: lightblue;
}

.footer {
  background-color: lightblue;
  position: fixed;
  height: 35px;
  bottom: 0;
  width: 100%;
}

.card {
  background-color: antiquewhite;
  width: 470px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 10px #777;
  margin: 0 auto;
  margin-top: 100px;
  padding: 40px;
}
.card h3 {
  text-align: center;
}

.card-body {
  text-align: center;
}

.title {
  text-align: center;
}

.list-group {
  text-align: center;
  padding-top: 10px;
}

.delete-form {
  padding-left: 10px;
}

.list-img {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 250px;
  width: 300px;
  box-shadow: 2px 2px black;
}
