@import url("https://fonts.googleapis.com/css?family=Righteous");

.header {
  padding: 12px;
  background-color: #dcdcdc;
}

.footer {
  background-color: #dcdcdc;
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.nav-item {
  color: black;
  font-family: "Righteous", cursive;
}

.card {
  background-color: #dcdcdc;
  border-radius: 4px;
  color: white;
  width: 470px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.11),
    0 5px 15px 0 rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px;
}
.card h3 {
  text-align: center;
}

.card-body {
  text-align: center;
}

.card-title {
  color: black;
  font-family: "Righteous", cursive;
}

.title {
  text-align: center;
  padding-top: 15px;
  font-family: "Righteous", cursive;
  font-size: 40px;
}

.list-group {
  text-align: center;
  padding-top: 10px;
}

.list-group-item {
  color: black;
}

.delete-form {
  padding-left: 10px;
}

.list-img {
  border-radius: 3px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  height: 250px;
  width: 300px;
  box-shadow: 2px 2px black;
  object-fit: cover;
}

.submit {
  color: #838383;
}

.submit:hover {
  background-color: black;
  color: #848484;
}
.delete-form {
  text-align: center;
}

.edit-form {
  text-align: center;
}

.new-form {
  text-align: center;
}

.get-form {
  text-align: center;
}
